body{
    font-family: Arial, sans-serif;
    text-align: center;
}

header, footer{
    margin: 20px;
}

.profile-box{
    width: 350px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #333;
    background-color: #f2f2f2;
}

.profile-img{
    width: 150px;
    border-radius: 15px;
}
